/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */

body {
  padding-bottom: 40px;
  color: #5a5a5a;
}

/* Show the borders of all divs (good for debugging)*/
/* div {
    border: 1px solid #FF0000;
} */



/* CUSTOMIZE THE NAVBAR
-------------------------------------------------- */

/* Special class on .container surrounding .navbar, used for positioning it into place. */
.navbar-wrapper {
  position: relative;
  z-index: 15;
}

/* SOCIAL MEDIA ICONS
-------------------------------------------------- */

.socialmedia {
	position: relative;
	margin-top: 20px;
	text-align: center;
}

.socialmedia .col-lg-4 {
	position: relative;
	top: -90px;
	height: 90px;
	text-align: center;
	min-width: 200px;
}


/* PUBLICATION CONTENT
-------------------------------------------------- */

/* Pad the edges of the mobile views a bit */
.publication {
  max-width: 768px;
  padding-top: 20px;
  padding-left: 15px;
  padding-right: 15px;
}

.publication .single{
  margin-bottom: 50px;
}

.publication .col-12 {
  /* border-bottom: 2px solid #eaeaea; */
}

.publication h5 {
  margin-top: 20px;
  margin-bottom: 20px;
  font-style: italic;
  text-decoration: none;
}

.publication a {
  text-decoration: none;
}

.publication p {
  text-align: justify;
}

/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 768px) {

  /* Remve the edge padding needed for mobile */
  .marketing {
    padding-left: 0;
    padding-right: 0;
  }

  /* Navbar positioning foo */
  .navbar-wrapper {
    margin-top: 20px;
  }
  /* The navbar becomes detached from the top, so we round the corners */
  .navbar-wrapper .navbar {
    border-radius: 4px;
  }

}
