/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */

body {
  padding-bottom: 40px;
  color: #5a5a5a;
}

/* Show the borders of all divs (good for debugging)*/
/* div {
    border: 1px solid #FF0000;
} */



/* CUSTOMIZE THE NAVBAR
-------------------------------------------------- */

/* Special class on .container surrounding .navbar, used for positioning it into place. */
.navbar-wrapper {
  position: relative;
  z-index: 15;
}

/* TOP IMAGE
-------------------------------------------------- */

.image-container {
	width:100%;
	overflow: hidden;
}

.image-container img {
	position: relative;
	min-width: 768px;
}

/* SOCIAL MEDIA ICONS
-------------------------------------------------- */

.socialmedia {
	position: relative;
	margin-top: 20px;
	text-align: center;
}

.socialmedia .col-lg-4 {
	position: relative;
	top: -90px;
	height: 90px;
	text-align: center;
	min-width: 200px;
}


/* MARKETING CONTENT
-------------------------------------------------- */

/* Pad the edges of the mobile views a bit */
.marketing {
  padding-top: 20px;
  padding-left: 15px;
  padding-right: 15px;
}

/* Center align the text within the three columns below the carousel */
.marketing .col-lg-4 {
  text-align: center;
  margin-bottom: 20px;
}
.marketing h2 {
  font-weight: normal;
}
.marketing .col-lg-4 p {
  display: inline-block;
  max-width: 250px;
  margin-left: 10px;
  margin-right: 10px;
}


/* SMALL MARKETING CONTENT
-------------------------------------------------- */

/* Pad the edges of the mobile views a bit */
.small-marketing {
  max-width: 500px;
  padding-top: 20px;
  padding-left: 15px;
  padding-right: 15px;
}

/* Center align the text within the three columns below the carousel */
.small-marketing .col-lg-3 {
  text-align: center;
  margin-bottom: 20px;
}
.small-marketing h2 {
  font-weight: normal;
}
.small-marketing .col-lg-3 p {
  margin-left: 10px;
  margin-right: 10px;
}





/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 768px) {

  /* Remve the edge padding needed for mobile */
  .marketing {
    padding-left: 0;
    padding-right: 0;
  }

  /* Navbar positioning foo */
  .navbar-wrapper {
    margin-top: 20px;
  }
  /* The navbar becomes detached from the top, so we round the corners */
  .navbar-wrapper .navbar {
    border-radius: 4px;
  }

}

/* GRAYSCALE HOVER EFFECT
--------------------------------------------------- */
/* http://www.kriesi.at/support/topic/how-to-get-a-black-and-white-mouseover-effect */


img.grayscale {
    filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 10+ */
    filter: gray; /* IE6-9 */
    -webkit-filter: grayscale(100%); /* Chrome 19+ & Safari 6+ */
    -webkit-transition: all .6s ease; /* Fade to color for Chrome and Safari */
    -webkit-backface-visibility: hidden; /* Fix for transition flickering */
}

img.grayscale:hover {
    filter: none;
    -webkit-filter: grayscale(0%);
}
