<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Sctict//EN" 
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
<head>
	<meta http-equiv="content-type" content="text/html; charset=utf-8"/>	
	<meta name="author" content="rafaelrezend"/>
	<link rel="stylesheet" href="/stylesheets/journal.css" />

	<link rel="shortcut icon" href="images/favicon_tab.ico">
	<title>{{ page.title }}</title>
	
	<script>
		(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
			(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
			m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		})(window,document,'script','//www.google-analytics.com/analytics.js','ga');
		
		ga('create', 'UA-42785376-1', 'rafaelrezend.github.io');
		ga('send', 'pageview');
	
	</script>
</head>

<div id="header">
	<a href="/journal.html">
	<img src="http://www.gravatar.com/avatar/5a2740462cc61bcba8b2e09dddb3d3e4.png">
		<div id="me">
			<span id="firstline">rafaelrezend</span>
			<span id="lastline">journal</span>
		</div>
	</a>
	<div id="mousing">Just things I read, watch, like, write...</div>
	<div class="site">
	</div>
	<div id="sections">
		<div>
			<a href="/">home</a>
		</div>
		<div>
			<a href="http://www.github.com/rafaelrezend">github</a>
		</div>
		<div>
			<a href="http://www.linkedin.com/in/rafaelrezend">linkedin</a>
		</div>
		<div>
			<a href="mailto:rafaelrezend@gmail.com">contact</a>
		</div>
	</div>
	<div id="icons">
		<div>
			<!--<a href="http://www.github.com/rafaelrezend"><img src="/images/icon_github.png" /></a>-->
		</div>
		<div>
		&nbsp;
		</div>
	</div>

</div>

<body>

	<div id="header">
		
	</div>

	{{ content }}


</body>

</html>
